@import"./variables";
   /* ................aboutmeeee........................ */
   .carousel-inner {
    margin: auto;
    width: 20%;
    max-width: 800px;
    padding: 2.5em 2em;
    text-align: center; 

   }


   